# Partiamo con GraphLab

In [2]:
import graphlab

# Carico un dataset

In [4]:
# Scommentare la riga sotto per caricare il dataset
#
#sf = graphlab.SFrame.read_csv('data/train.csv')

# Funizioni di base

In [3]:
sf #mostra le prime righe della tabella

Columns:
	Store	int
	Dept	int
	Date	str
	Weekly_Sales	float
	IsHoliday	str

Rows: 421570

Data:
+-------+------+------------+--------------+-----------+
| Store | Dept |    Date    | Weekly_Sales | IsHoliday |
+-------+------+------------+--------------+-----------+
|   1   |  1   | 2010-02-05 |   24924.5    |   FALSE   |
|   1   |  1   | 2010-02-12 |   46039.49   |    TRUE   |
|   1   |  1   | 2010-02-19 |   41595.55   |   FALSE   |
|   1   |  1   | 2010-02-26 |   19403.54   |   FALSE   |
|   1   |  1   | 2010-03-05 |   21827.9    |   FALSE   |
|   1   |  1   | 2010-03-12 |   21043.39   |   FALSE   |
|   1   |  1   | 2010-03-19 |   22136.64   |   FALSE   |
|   1   |  1   | 2010-03-26 |   26229.21   |   FALSE   |
|   1   |  1   | 2010-04-02 |   57258.43   |   FALSE   |
|   1   |  1   | 2010-04-09 |   42960.91   |   FALSE   |
+-------+------+------------+--------------+-----------+
[421570 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [4]:
sf.tail()  # visualizza la fine della tabella

Columns:
	Store	int
	Dept	int
	Date	str
	Weekly_Sales	float
	IsHoliday	str

Rows: 10

Data:
+-------+------+------------+--------------+-----------+
| Store | Dept |    Date    | Weekly_Sales | IsHoliday |
+-------+------+------------+--------------+-----------+
|   45  |  98  | 2012-08-24 |    415.4     |   FALSE   |
|   45  |  98  | 2012-08-31 |    346.04    |   FALSE   |
|   45  |  98  | 2012-09-07 |    352.44    |    TRUE   |
|   45  |  98  | 2012-09-14 |    605.96    |   FALSE   |
|   45  |  98  | 2012-09-21 |    467.3     |   FALSE   |
|   45  |  98  | 2012-09-28 |    508.37    |   FALSE   |
|   45  |  98  | 2012-10-05 |    628.1     |   FALSE   |
|   45  |  98  | 2012-10-12 |   1061.02    |   FALSE   |
|   45  |  98  | 2012-10-19 |    760.01    |   FALSE   |
|   45  |  98  | 2012-10-26 |    1076.8    |   FALSE   |
+-------+------+------------+--------------+-----------+
[10 rows x 5 columns]

In [5]:
sf.head()

Columns:
	Store	int
	Dept	int
	Date	str
	Weekly_Sales	float
	IsHoliday	str

Rows: 10

Data:
+-------+------+------------+--------------+-----------+
| Store | Dept |    Date    | Weekly_Sales | IsHoliday |
+-------+------+------------+--------------+-----------+
|   1   |  1   | 2010-02-05 |   24924.5    |   FALSE   |
|   1   |  1   | 2010-02-12 |   46039.49   |    TRUE   |
|   1   |  1   | 2010-02-19 |   41595.55   |   FALSE   |
|   1   |  1   | 2010-02-26 |   19403.54   |   FALSE   |
|   1   |  1   | 2010-03-05 |   21827.9    |   FALSE   |
|   1   |  1   | 2010-03-12 |   21043.39   |   FALSE   |
|   1   |  1   | 2010-03-19 |   22136.64   |   FALSE   |
|   1   |  1   | 2010-03-26 |   26229.21   |   FALSE   |
|   1   |  1   | 2010-04-02 |   57258.43   |   FALSE   |
|   1   |  1   | 2010-04-09 |   42960.91   |   FALSE   |
+-------+------+------------+--------------+-----------+
[10 rows x 5 columns]

In [6]:
len(sf)

421570

In [7]:
sf[1000:1010]

Columns:
	Store	int
	Dept	int
	Date	str
	Weekly_Sales	float
	IsHoliday	str

Rows: 10

Data:
+-------+------+------------+--------------+-----------+
| Store | Dept |    Date    | Weekly_Sales | IsHoliday |
+-------+------+------------+--------------+-----------+
|   1   |  7   | 2012-10-26 |   21449.85   |   FALSE   |
|   1   |  8   | 2010-02-05 |   40129.01   |   FALSE   |
|   1   |  8   | 2010-02-12 |   37334.83   |    TRUE   |
|   1   |  8   | 2010-02-19 |   38717.6    |   FALSE   |
|   1   |  8   | 2010-02-26 |   35318.2    |   FALSE   |
|   1   |  8   | 2010-03-05 |   38776.09   |   FALSE   |
|   1   |  8   | 2010-03-12 |   34342.64   |   FALSE   |
|   1   |  8   | 2010-03-19 |   34188.52   |   FALSE   |
|   1   |  8   | 2010-03-26 |   33581.72   |   FALSE   |
|   1   |  8   | 2010-04-02 |   38151.58   |   FALSE   |
+-------+------+------------+--------------+-----------+
[10 rows x 5 columns]

In [8]:
sf[2]

{'Date': '2010-02-19',
 'Dept': 1,
 'IsHoliday': 'FALSE',
 'Store': 1,
 'Weekly_Sales': 41595.55}

# GraphLab Canvas

In [9]:
# .show() visualizza qualsiasi struttura dati in GraphLab
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:49525/index.html
Opening Canvas in default web browser.

In [10]:
#se vuoi la visualizzazione all'interno del notebook
graphlab.canvas.set_target('ipynb')

#Inspect columns of dataset

In [11]:
sf['Dept']

dtype: int
Rows: 421570
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ... ]

In [12]:
sf['Weekly_Sales']

dtype: float
Rows: 421570
[24924.5, 46039.49, 41595.55, 19403.54, 21827.9, 21043.39, 22136.64, 26229.21, 57258.43, 42960.91, 17596.96, 16145.35, 16555.11, 17413.94, 18926.74, 14773.04, 15580.43, 17558.09, 16637.62, 16216.27, 16328.72, 16333.14, 17688.76, 17150.84, 15360.45, 15381.82, 17508.41, 15536.4, 15740.13, 15793.87, 16241.78, 18194.74, 19354.23, 18122.52, 20094.19, 23388.03, 26978.34, 25543.04, 38640.93, 34238.88, 19549.39, 19552.84, 18820.29, 22517.56, 31497.65, 44912.86, 55931.23, 19124.58, 15984.24, 17359.7, 17341.47, 18461.18, 21665.76, 37887.17, 46845.87, 19363.83, 20327.61, 21280.4, 20334.23, 20881.1, 20398.09, 23873.79, 28762.37, 50510.31, 41512.39, 20138.19, 17235.15, 15136.78, 15741.6, 16434.15, 15883.52, 14978.09, 15682.81, 15363.5, 16148.87, 15654.85, 15766.6, 15922.41, 15295.55, 14539.79, 14689.24, 14537.37, 15277.27, 17746.68, 18535.48, 17859.3, 18337.68, 20797.58, 23077.55, 23351.8, 31579.9, 39886.06, 18689.54, 19050.66, 20911.25, 25293.49, 33305.92, 45773.03, 46788.75, 23350.88, ... ]

# Alcune operazioni su colonne

In [13]:
#Calcolo della media delle vendite settimanali
sf['Weekly_Sales'].mean()

15981.25812346725

In [14]:
#Calcolo della vendita settimanale massima
sf['Weekly_Sales'].max()

693099.36

In [15]:
# crea un SArray a partire dalla colonna Date, facendo split per “-“
sf['date_split'] = sf['Date'].apply(lambda x: x.split('-'))
# Divide la colonna date_split in più colonne
sf = sf.unpack('date_split')

In [16]:

sf

Columns:
	Store	int
	Dept	int
	Date	str
	Weekly_Sales	float
	IsHoliday	str
	date_split.0	str
	date_split.1	str
	date_split.2	str

Rows: 421570

Data:
+-------+------+------------+--------------+-----------+--------------+--------------+
| Store | Dept |    Date    | Weekly_Sales | IsHoliday | date_split.0 | date_split.1 |
+-------+------+------------+--------------+-----------+--------------+--------------+
|   1   |  1   | 2010-02-05 |   24924.5    |   FALSE   |     2010     |      02      |
|   1   |  1   | 2010-02-12 |   46039.49   |    TRUE   |     2010     |      02      |
|   1   |  1   | 2010-02-19 |   41595.55   |   FALSE   |     2010     |      02      |
|   1   |  1   | 2010-02-26 |   19403.54   |   FALSE   |     2010     |      02      |
|   1   |  1   | 2010-03-05 |   21827.9    |   FALSE   |     2010     |      03      |
|   1   |  1   | 2010-03-12 |   21043.39   |   FALSE   |     2010     |      03      |
|   1   |  1   | 2010-03-19 |   22136.64   |   FALSE   |     2010     |      03      |
|   1   |  1   | 2010-03-26 |   26229.21   |   FALSE   |     2010     |      03      |
|   1   |  1   | 2010-04-02 |   57258.43   |   FALSE   |     2010     |      04      |
|   1   |  1   | 2010-04-09 |   42960.91   |   FALSE   |     2010     |      04      |
+-------+------+------------+--------------+-----------+--------------+--------------+
+--------------+
| date_split.2 |
+--------------+
|      05      |
|      12      |
|      19      |
|      26      |
|      05      |
|      12      |
|      19      |
|      26      |
|      02      |
|      09      |
+--------------+
[421570 rows x 8 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [17]:
def transform_Month(Month):
    if Month == '01':
        return 'January'
    if Month == '02':
        return 'February'
    if Month == '03':
        return 'March'
    if Month == '04':
        return 'April'
    if Month == '05':
        return 'May'
    if Month == '06':
        return 'June'
    if Month == '07':
        return 'July'
    if Month == '08':
        return 'August'
    if Month == '09':
        return 'September'
    if Month == '10':
        return 'October'
    if Month == '11':
        return 'November'
    if Month == '12':
        return 'December'

In [18]:
sf['date_split.1'].apply(transform_Month)

dtype: str
Rows: 421570
['February', 'February', 'February', 'February', 'March', 'March', 'March', 'March', 'April', 'April', 'April', 'April', 'April', 'May', 'May', 'May', 'May', 'June', 'June', 'June', 'June', 'July', 'July', 'July', 'July', 'July', 'August', 'August', 'August', 'August', 'September', 'September', 'September', 'September', 'October', 'October', 'October', 'October', 'October', 'November', 'November', 'November', 'November', 'December', 'December', 'December', 'December', 'December', 'January', 'January', 'January', 'January', 'February', 'February', 'February', 'February', 'March', 'March', 'March', 'March', 'April', 'April', 'April', 'April', 'April', 'May', 'May', 'May', 'May', 'June', 'June', 'June', 'June', 'July', 'July', 'July', 'July', 'July', 'August', 'August', 'August', 'August', 'September', 'September', 'September', 'September', 'September', 'October', 'October', 'October', 'October', 'November', 'November', 'November', 'November', 'December', 'December', 'December', 'December', 'December', ... ]

In [19]:
sf['date_split.1'] = sf['date_split.1'].apply(transform_Month)

In [20]:
#Vendite totali per ciascun negozio
SalesByStore =sf.groupby('Store', {'total': graphlab.aggregate.SUM('Weekly_Sales')})

In [21]:
SalesByStore

Columns:
	Store	int
	total	float

Rows: 45

Data:
+-------+--------------+
| Store |    total     |
+-------+--------------+
|   13  | 286517703.8  |
|   36  | 53412214.97  |
|   24  | 194016021.28 |
|   2   | 275382440.98 |
|   30  | 62716885.12  |
|   42  | 79565752.43  |
|   44  | 43293087.84  |
|   31  | 199613905.5  |
|   26  | 143416393.79 |
|   8   | 129951181.13 |
+-------+--------------+
[45 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [22]:
#Ordinamento 
SalesByStore.sort('total',ascending=False)

Columns:
	Store	int
	total	float

Rows: 45

Data:
+-------+--------------+
| Store |    total     |
+-------+--------------+
|   20  | 301397792.46 |
|   4   | 299543953.38 |
|   14  | 288999911.34 |
|   13  | 286517703.8  |
|   2   | 275382440.98 |
|   10  | 271617713.89 |
|   27  | 253855916.88 |
|   6   | 223756130.64 |
|   1   | 222402808.85 |
|   39  | 207445542.47 |
+-------+--------------+
[45 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [23]:
SalesByStoreByMonth =sf.groupby(['Store','date_split.1'], {'total': graphlab.aggregate.SUM('Weekly_Sales')})

In [26]:
SalesByStoreByMonth.sort('total',ascending= False)

Columns:
	Store	int
	date_split.1	str
	total	float

Rows: 540

Data:
+-------+--------------+-------------+
| Store | date_split.1 |    total    |
+-------+--------------+-------------+
|   14  |    April     | 29114298.09 |
|   20  |    April     | 28786585.26 |
|   20  |     July     | 28539886.79 |
|   4   |    April     | 28087636.67 |
|   4   |     July     | 27978994.51 |
|   13  |     July     | 27596302.76 |
|   13  |    April     | 27533278.62 |
|   20  |     June     | 27359265.27 |
|   4   |    August    | 27105227.93 |
|   14  |     July     | 27084305.51 |
+-------+--------------+-------------+
[540 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.